*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    margin: 40px /*eje Y*/ 80px /*eje X*/;
}

h1{
    padding: 10px;
    /*centrado cuando tengo controlado el ancho*/
    margin: auto;
    width: 80%;
    text-align: center;
}

hr {
    border-color: blue;
    width: 50%;
    margin: 10px;
  }

li{
    list-style: none;
}
